* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #205781;
}

.logo {
    font-size: 28px;
    color: orange;
    font-weight: bold;
}

.navbar nav a {
    color: orange;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.navbar nav a:hover {
    color: white;
}

.pool-container {
    height: 90vh;
    background: url('https://www.lodhagroup.com/sites/default/files/projects/banner/Spotlight_Lodha-Estilo_1903X800_0.jpg') no-repeat center center/cover;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.content p {
    font-size: 20px;
    color: white;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background: #205781;
}

.bottom-nav a {
    color: orange;
    text-decoration: none;
    transition: color 0.3s;
}

.bottom-nav a:hover {
    color: #fff;
}
.intro {
    text-align: center;
    padding: 40px 20px;
    font-size: 18px;
    line-height: 1.8;
    color: #444;
}

.content-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background: #f9f9f9;
}

.content-image-container img {
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.content-text-container {
    max-width: 50%;
    padding: 20px;
}

.content-text-container h2 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.content-text-container p {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.luxury-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background: #fff;
}

.luxury-text-container {
    max-width: 50%;
    padding: 20px;
}

.luxury-text-container h2 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.luxury-text-container p {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.luxury-image-container img {
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.content-intro-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background: #f9f9f9;
}

.content-image-container-1 img {
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.content-text-container-1 {
    max-width: 50%;
    padding: 20px;
}

.content-text-container-1 h2 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.content-text-container-1 p {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.luxury-section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background: #fff;
}

.luxury-text-container-1 {
    max-width: 50%;
    padding: 20px;
}

.luxury-text-container-1 h2 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.luxury-text-container-1 p {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.luxury-image-container-1 img {
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.content-intro-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background: #f9f9f9;
}

.content-image-container-2 img {
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.content-text-container-2 {
    max-width: 50%;
    padding: 20px;
}

.content-text-container-2 h2 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.content-text-container-2 p {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container-start {
    margin: 0 auto;
    padding: 20px;
    background-color: #205781;
}
.body-container {
    max-width: 80%;
    padding: 20px;
}
.body-container h1 {
    font-size: 28px;
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.body-container p {
    font-size: 16px;
    margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.gallery {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
}
.gallery img {
    width: 80%;
    height: auto;
    border-radius: 8px;
}
.gallery-item {
    flex: 1;
}
.view-all {
    text-align: center;
    margin: 20px 0;
}
.view-all button {
    background: transparent;
    border: 1px solid orange;
    padding: 10px 25px;
    cursor: pointer;
    color: orange;
    font-size: 14px;
    transition: 0.3s;
}
.view-all button:hover {
    background: orange;
    color: white;
}
@media (max-width: 768px) {
    .features li {
        width: 100%;
    }
    .gallery {
        flex-direction: column;
    }
}

.bhk-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 20px;
}
.bhk-plans-info {
    width: 30%;
    padding: 20px;
}
.bhk-plans-info h2 {
    font-size: 32px;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 200px;
}
.bhk-plans-info p {
    font-size: 16px;
    color: #555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bhk-buttons {
    margin-top: 20px;
}
.bhk-buttons button {
    background: transparent;
    border: 1px solid orange;
    color: orange;
    padding: 10px 25px;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.3s;
}
.bhk-buttons button:hover {
    background: orange;
    color: white;
}

.bhk-gallery-container {
    width: 65%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 0;
}
.bhk-gallery {
    display: inline-flex;
}
.bhk-gallery img {
    width: 400px;
    height: auto;
    margin-right: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bhk-unit-title {
    text-align: left;
    margin: 20px 0;
    font-size: 18px;
    color: #555;
}

.nav-arrows {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.nav-arrows span {
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    color: #d4a62a;
    transition: 0.3s;
}
.nav-arrows span:hover {
    color: #333;
}

@media (max-width: 768px) {
    .bhk-container {
        flex-direction: column;
        align-items: center;
    }
    .bhk-plans-info, .bhk-gallery-container {
        width: 100%;
    }
    .bhk-gallery img {
        width: 90%;
        margin-right: 10px;
    }
}

.container-3 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
}
.container-3 h1 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.container-3 h1 em {
    font-style: italic;
}
.gallery-3 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card-3 {
    flex: 1;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}
.card-3:hover {
    transform: translateY(-10px);
}
.card-3 img {
    width: 100%;
    height: auto;
}
.card-content-3 {
    padding: 20px;
}
.card-content-3 p {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (max-width: 768px) {
    .gallery-3 {
        flex-direction: column;
    }
}
.contact-container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', Times, serif;
}
.contact-container h2{
    color: black;
    font-family:'Times New Roman', Times, serif;
}
.social-links {
    margin-top: 10px;
}
.social-links a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    font-size: 24px;
    color:black;
}

.footer {
    background-color:#205781;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer p {
    margin: 5px 0;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:orange;
    color: #205781;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#scrollToTop i{
    background-color:orange;
    color: #205781;
}